<section *ngIf="user$ | async as user">
  <div class ="bioCard">

    <div class="bioHeader">
      <h3>Bio</h3>
    </div>

    <div class="bioBody">
      <!-- View Mode -->
      <p *ngIf="!editing">
        {{ user.bio }}
      </p>
      <!-- Edit Mode & Save/Cancel Buttons-->
      <div *ngIf="editing">
        <textarea [(ngModel)]="newBio" rows="4"></textarea>
        <br>
        <button (click)="cancelEdit(user)">Cancel</button>
        <button class="btnPrimary" (click)="saveBio()">Save</button>
      </div>
    </div>

    <!-- Main Edit Button -->
    <div class="bioActions">
      <button class="btnPrimary" *ngIf="!editing" (click)="startEdit(user)">
        Edit Bio
      </button>
    </div>
  </div>
</section>